<style>
    .social-icon {
        display: flex;
        padding-left:100px;
    }
.fa{
    padding:10px;
    font-size: 30px;
    background-color: #444444; 
    color: white;
    border-radius: 50%;                   
    display: inline-block;   
}
.fa:hover {
    color: #e74c3c; /* Change color on hover */
    transform: scale(1.2); /* Slightly increase size */
}
footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}
</style>

<footer class="page-footer bg-primary">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">IBLogs</h5>
                <p class="grey-text text-lighten-4">IBLogs is a platform for sharing insightful and informative blogs,
                    covering a wide range of topics to engage and educate readers.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Social Media</h5>
                <ul class="social-icon">
                    <li><a class="grey-text text-lighten-3 fa fa-facebook" href="#!" ></a></li>
                    <li><a class="grey-text text-lighten-3 fa fa-instagram" href="#!"></a></li>
                    <li><a class="grey-text text-lighten-3 fa fa-twitter" href="#!"></a></li>
                    <li><a class="grey-text text-lighten-3 fa fa-whatsapp" href="#!"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2025 Copyright SimpleJay
        </div>
    </div>
</footer>