{% extends 'base.html' %}

{% block title %}Welcome To IBlog {% endblock %}

{% block content %}
<div class="costum-container">
    {%for cat in cats %}
    {{cat.title}}
    {% endfor %}
</div>
<div class="container">
    <div class="row">
        <div class="col s12">

            {% for p in posts %}
            <div class="row">
                <div class="col s12 m8">



                    {{p.content | truncatewords:60| safe}}
                    <div class="container mt20">
                        <a href="/blog/{{p.url}}" class="btn bg-primary">Read More</a>
                    </div>
                </div>

                <div class="col s12 m4">
                    <img src="/media/{{p.image}}" class="responsive-img " style="margin-top:50px;" alt="">
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="col s12 m4">
            <img src="/media/{p.image}" alt="">
        </div>
    </div>
</div>


{% endblock %}